<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ygstumuygulama.iperc.ygs">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ygstumuygulama.iperc.ygs.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ygstumuygulama.iperc.ygs.icerikViewActivity"
            android:label="@string/title_activity_icerik_view"
            android:parentActivityName="com.ygstumuygulama.iperc.ygs.contentListActivityMat"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.ygstumuygulama.iperc.ygs.contentListActivityMat" />

        <activity
            android:name="com.ygstumuygulama.iperc.ygs.contentListActivityMat"
            android:label="@string/title_activity_content_list"
            android:parentActivityName="com.ygstumuygulama.iperc.ygs.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ygstumuygulama.iperc.ygs.MainActivity" />
        </activity>
        <activity
            android:name="com.ygstumuygulama.iperc.ygs.contentListActivityCog"
            android:label="@string/title_activity_content_list_activity_cog"
            android:parentActivityName="com.ygstumuygulama.iperc.ygs.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ygstumuygulama.iperc.ygs.MainActivity" />
        </activity>
        <activity
            android:name="com.ygstumuygulama.iperc.ygs.contentListActivityTurk"
            android:label="@string/title_activity_content_list_activity_turk"
            android:parentActivityName="com.ygstumuygulama.iperc.ygs.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ygstumuygulama.iperc.ygs.MainActivity" />
        </activity>
        <activity
            android:name=".contentListActivityFen"
            android:label="@string/title_activity_content_list_activity_genel"
            android:parentActivityName="com.ygstumuygulama.iperc.ygs.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ygstumuygulama.iperc.ygs.MainActivity" />
        </activity>
        <activity
            android:name=".contentListActivityFelsefe"
            android:label="@string/title_activity_content_list_activity_guncel"
            android:parentActivityName="com.ygstumuygulama.iperc.ygs.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ygstumuygulama.iperc.ygs.MainActivity" />
        </activity>
        <activity
            android:name="com.ygstumuygulama.iperc.ygs.contentListActivityTarih"
            android:label="@string/title_activity_content_list_activity_tarih"
            android:parentActivityName="com.ygstumuygulama.iperc.ygs.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ygstumuygulama.iperc.ygs.MainActivity" />
        </activity>
        <activity
            android:name="com.ygstumuygulama.iperc.ygs.aboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:parentActivityName="com.ygstumuygulama.iperc.ygs.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ygstumuygulama.iperc.ygs.MainActivity" />
        </activity>
    </application>

</manifest>