<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iperc.kpss">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".icerikViewActivity"
            android:label="@string/title_activity_icerik_view"
            android:parentActivityName=".contentListActivityMat"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".contentListActivityMat" />

        <activity
            android:name=".contentListActivityMat"
            android:label="@string/title_activity_content_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.iperc.kpss.MainActivity" />
        </activity>
        <activity
            android:name=".contentListActivityCog"
            android:label="@string/title_activity_content_list_activity_cog"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.iperc.kpss.MainActivity" />
        </activity>
        <activity
            android:name=".contentListActivityTurk"
            android:label="@string/title_activity_content_list_activity_turk"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.iperc.kpss.MainActivity" />
        </activity>
        <activity
            android:name=".contentListActivityGenel"
            android:label="@string/title_activity_content_list_activity_genel"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.iperc.kpss.MainActivity" />
        </activity>
        <activity
            android:name=".contentListActivityGuncel"
            android:label="@string/title_activity_content_list_activity_guncel"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.iperc.kpss.MainActivity" />
        </activity>
        <activity
            android:name=".contentListActivityTarih"
            android:label="@string/title_activity_content_list_activity_tarih"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.iperc.kpss.MainActivity" />
        </activity>
    </application>

</manifest>